<!DOCTYPE html>
<html>
<head>
  <title>Wishes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in? %>
    <%= link_to "All Wishes", wishes_path %> | 
    <%= link_to 'Make a wish', new_wish_path if signed_in? %> | 
    <%= link_to 'Sign out', signout_path %>
  <% else %>
    <%= link_to 'Sign in with Github', '/auth/github' %>
  <% end %>

  <br />wishes left: <%= current_user.wishes_left if signed_in?%><br />

  <%= "Welcome #{current_user.name} (#{current_user.email})" if signed_in? %>

  <br />

  <em><%= flash[:notice] || nil %></em>



  <div style="background: #eee"><%= yield %></div>

  <br />

  

</body>
</html>
